
#set($searcher = $request.searcher)
#set($params = $request.params)
## #set($clusters = $response.response.clusters)
#set($mltResults = $response.response.get("moreLikeThis"))
#set($annotate = $params.get("annotateBrowse"))

<body>  
    <div class="container">  
	    <div class="col-xs-12 col-sm-9">  
		<div > 
			<img src="#{url_root}/img/beads.png" id="logo" /></a> 
			<div id="headerinfo">
			    <h1> AAGD <h1> 
			    <h3> Alaskan Athabascan Grammar Database </h3> 
			#parse('query_form.vm')
			</div>   
			#parse('did_you_mean.vm') 
		</div> 
		<div class="row">
		    <div class="pagination">
			#parse("pagination_top.vm")
		    </div> 
		    <div class="error">
			#parse("error.vm")
		    </div> 
		    <div class="results">
			#parse("results_list.vm")
		    </div> 
		    <div class="pagination">
			#parse("pagination_bottom.vm")
		    </div>
		</div><!--/row-->
	<footer>
	    <p>&copy; Glottotopia 2013-4</p>
	</footer> 
	    </div><!--/span--> 
	    <div class="col-xs-6 col-sm-3 " >
		<div > 
		    <div class="navigators">
			#parse("facets.vm")
		    </div>  
		</div>
	    </div><!--/span--> 

	<hr/> 
    </div><!--/.container-->




