#**
*  Overall HTML page layout
*#
<!DOCTYPE html>
<html>
    <head>
        #parse("head.vm")
    </head>
    <body>
        <div id="header">
            #parse("header.vm")
        </div>
        <div id="content"> 
            $content
        </div>
        <div id="footer">
            <p>&copy; Glottotopia 2013-2015</p>
        </div>
    </body>
</html>
