<div class="tagbag" name="extr"  id="tagbag$thistagbagid" style="display:none;"> 

    <ul class="nav nav-tabs">
	<li class="navtabli active"><a href="#droptab$thistagbagid" data-toggle="tab">Drop</a></li> 
	<li class="navtabli"><a href="#freetab$thistagbagid" data-toggle="tab">Free</a></li>
	<li class="navtabli" onclick='jQuery(this).parent().parent().hide();' style="float:right"><a data-toggle="tab" style="top:-10px;right:-10px;font-size:200%;border-radius:20px;box-shadow:1px -1px 2px 2px;cursor:pointer;">X</a></li> 
    </ul>   
    <div class="tab-content"> 
	<div class="tab-pane active" id="droptab$thistagbagid">  
	    <div class="addcontainer" >
		<ul class="megarow" >
		#foreach($ontofields in $megafields) 
		    <li>
			<ul class="tagrow" > 
			    #foreach($ontofield in $ontofields) 
				#set( $tid = $ontofield[0]+$doc.getFieldValue('id'))
				<li class="tagadder">	  
				    <select size="1" name="value" class="yui3-button" id="$tid" onChange="addfield('$doc.getFieldValue('id')','$ontofield[0]', this.value);"> 
					<option>$ontofield[0].replace('_',' ')</option> 
					#foreach($v in $ontofield[1])
					    <option value="$v">$v.replace('_',' ')</option> 
					#end	
				    </select>      
				</li>
			    #end
			</ul>
		    </li> 
		#end 
		</ul>
	    </div>
	</div> 
	<div class="tab-pane" id="freetab$thistagbagid">  
	    <div class="addcontainer" > 
		<script>
		    $(function() { 
			$( "#meaningsadder$thistagbagid" ).autocomplete({
			source: onotags
			});
		    });
		</script> 

		<div class="ui-widget">
		    <div> 
	    ## 	    <label for="meanings"> Meanings</label>  
			<button onclick="addfield('$doc.getFieldValue('id')',document.getElementById('meaningsadder$thistagbagid').value.split(':')[0],document.getElementById('meaningsadder$thistagbagid').value.split(':')[1]);">add</button>
			<input id="meaningsadder$thistagbagid" size="28"/>
## 			<input id="fqmeaningsadder$thistagbagid" type="textarea" readonly="true" /> 
		    </div>
		</div>  
	    </div>
	</div> 
    </div>  
</div>
